# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
.env
.venv/
venv/

# Django
media/
staticfiles/

# Node (if used for frontend tooling later)
node_modules/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
